*{margin:0;padding:0;box-sizing:border-box;font-family:'Poppins',sans-serif}
body{background:#020617;color:#e5e7eb}
.loader{position:fixed;inset:0;display:flex;justify-content:center;align-items:center;background:#020617;color:#38bdf8;z-index:999}
.navbar{display:flex;justify-content:space-between;align-items:center;padding:15px 30px;background:#020617;position:sticky;top:0}
.navbar span{color:#38bdf8}
.navbar ul{list-style:none;display:flex;gap:20px}
.navbar a{color:#e5e7eb;text-decoration:none}
.hero{min-height:100vh;display:flex;flex-direction:column;justify-content:center;align-items:center;text-align:center}
.hero span{color:#38bdf8}
.btn{margin-top:20px;padding:12px 25px;background:#38bdf8;color:#020617;text-decoration:none;border-radius:30px}
.section{padding:70px 20px;max-width:1100px;margin:auto;text-align:center}
.grid{display:grid;grid-template-columns:repeat(auto-fit,minmax(200px,1fr));gap:25px}
.card{background:#020617;border:1px solid #38bdf8;padding:25px;border-radius:15px;transition:.3s}
.card:hover{transform:translateY(-8px);box-shadow:0 0 15px #38bdf8}
footer{text-align:center;padding:20px;background:#020617;border-top:1px solid #38bdf8}
@media(max-width:768px){
.navbar ul{display:none}
}
